.git
.gitignore
.github
.gitlab
.bitbucket

node_modules
vendor

.env
.env.*
!.env.example
auth.json
auth.json.*
!auth.json.example

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/cms/cache/*
storage/cms/combiner/*
storage/cms/twig/*

.idea
.vscode
.DS_Store
Thumbs.db

docker-compose*.yml
README.md
docs
